@font-face {
    font-family: NovaSquare;
    src: url(../assets/fonts/NovaSquare-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: NovaSquare;

    display: grid;
    place-content: center;
}

.container {
    width: 500px;
    background: linear-gradient(#fff, #7595e7);
    padding: 20px;
    box-shadow: 0 0 10px #fff;
    text-align: center;
    border-radius: 20px;
}

.titulo {
    font-size: 3em;
    color: #006560;
}

@keyframes drive {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}