@font-face {
    font-family: NovaSquare;
    src: url(../assets/fonts/NovaSquare-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: NovaSquare;
}

.resultadoContainer {
    background: linear-gradient(#fff, #7595e7);
    padding: 20px;
    box-shadow: 0 0 10px #fff;
}