/* FUENTE LOCAL */
@font-face {
    font-family: NovaSquare;
    src: url(../assets/fonts/NovaSquare-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* IMAGEN DE FONDO */
    background-image: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: NovaSquare;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 500px;
    /* DEGRADADO */
    background: linear-gradient(#fff, #7595e7);
    padding: 20px;
    /* SOMBREADO */
    box-shadow: 0 0 10px #fff;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 4rem;
    position: absolute;
    top: 20px;
}

.titulo {
    color: #000;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}

.ola {
    color: aquamarine;
    animation: ola 3s infinite ease-in-out;
}

.coche {
    width: 200px;
    animation: drive 5s linear infinite;
    margin-top: 50px;
}

/* PSEUDOSELECTOR */
p:last-child {
    background-color: red;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

/* KEYFRAMES */
@keyframes drive {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(500%);
    }
}

@keyframes ola {
    0%,
    100% {
        clip-path: polygon(
            0 47%,
            8% 36%,
            19% 27%,
            31% 29%,
            42% 45%,
            48% 66%,
            58% 79%,
            76% 79%,
            89% 75%,
            100% 63%,
            100% 100%,
            0 100%
        );
    }

    50% {
        clip-path: polygon(
            0 64%,
            8% 76%,
            19% 80%,
            31% 78%,
            42% 68%,
            48% 46%,
            58% 30%,
            76% 28%,
            89% 37%,
            100% 48%,
            100% 100%,
            0 100%
        );
    }
}
